body {
    background-color: whitesmoke;
}

/*html {
    
}*/

#about {
    text-align: center;
}

#me, #story {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

h3, h4 {
    color: blue
}